.footerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0; 
    width: 100%;
    z-index: 998;
}

.footerContainer p {
    color: #ccc;
    font-size: 20px;
     margin: 0;
     padding-bottom: 10px;
    cursor: pointer;
    position: relative;
}


.iconFooter {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.iconFooter a {
    display: flex;
    align-items: center;
    color: #ccc;
    text-decoration: none;
}

.modal {
    position: absolute;
    bottom: 50px;
    left: 15%;
    background-color: rgba(0, 0, 0, 0.314);
    color: #ccc;
    padding: 10px 15px;
    border-radius: 13px;
    text-align: center;
    white-space: nowrap;
   
  }