.contenedor {
  font-size: 31px;
  color: gray;
}

.letter {
  position: relative;
}

.active::before {
  content: '|';
  position: absolute;
  left: -70%;
  color: #daaf38;
  animation: 1.1s blink infinite ease-in-out;
}

@keyframes blink {
  0%, 25% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}

input {
  position: absolute;
  opacity: 0;
}

.image-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  font-size: 40px;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: rgba(8, 8, 8, 0.934);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeIn 0.5s ease;
  opacity: 0; /* Inicialmente oculto */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.image-container h2 {
  font-size: 40px;
  margin: 0;
}

.image-container h3, .image-container h4 {
  font-size: 30px;
  margin: 0;
}

.image-container h3 span, .image-container h4 span{
  color:#daaf38;
  font-size: 33px;
}

.image-container img {
  height: 55%;
  border: 5px solid #f3f3f36a;
  margin: 10px;
}


.image-container.show {
  animation: fadeIn 0.5s ease forwards;
}

.image-container h2,
.image-container h3,
.image-container h4,
.image-container img {
  opacity: 0;
  animation: fadeIn 2s forwards;       
}

.image-container h2 {
  animation-delay: 0.5s;
  color:#daaf38;
}

.image-container h3 {
  animation-delay: 1.2s; 
}

.image-container h4 {
  animation-delay: 1.9s; 
}

.image-container img {
  animation-delay: 2.7s;
}




.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.reload {
  background: none;
  border: none;
  font-size: 50px;
  padding: 10px;
  color: #cccccc;
  transition: transform 0.2s ease;
}

.reload:hover {
  cursor: pointer;
  transform: scale(1.3);
  color: #dedede;
}
